<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Pet Shop</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div id="main">
        <div id="main-container">
            <div id="formArea">
                <div id="logoArea">
                    <img id="logo" src="../Img/logo.webp" alt="Pet Shop Logo">
                </div>
                <div id="titleArea">
                    <h1 class="h1s">Bem-vindo ao Pet Ideal!</h1>
                    <p>Cuidados e carinho para seu pet</p>
                </div>
                <div id="form">
                    <form id="loginForm" method="POST" action="/backend/login.php">
                        <input type="text" id="email" name="email" placeholder="Email" required>
                        <input type="password" id="password" name="password" placeholder="Senha" required>
                        <div id="linkForm">
                            <a class="link" href="/forgot-password">Esqueceu sua senha?</a>
                            <a class="link" href="../views/register.html">Crie sua conta</a>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
        <footer id="appFooter"></footer>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>
