<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta - Pet Ideal</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    <div id="main">
        <div id="main-container">
            <div id="formArea">
                <div id="logoArea">
                    <img id="logo" src="../Img/logo.webp" alt="Pet Shop Logo">
                </div>
                <div id="titleArea">
                    <h1 id="title">Criar Conta</h1>
                    <p>Cadastre-se para ter acesso <br> a todos os recursos do Pet Shop</p>
                </div>
                <div id="form">
                    <input type="text" id="name" placeholder="Nome" required>
                    <input type="text" id="surname" placeholder="Sobrenome" required>
                    <input type="email" id="email" placeholder="Email" required>
                    <input type="password" id="password" placeholder="Senha" required>
                    <input type="password" id="confirmPassword" placeholder="Confirmar Senha" required>
                    <div id="linkForm">
                        <a class="link" href="../views/login.html">Já tem uma conta? Faça login.</a>
                    </div>
                    <button type="button" class="btn btn-primary w-100" onclick="register()">Criar Conta</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>